**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/.sql
**/bin
**/Dockerfile
**/obj
**/TestResults
**/node_modules
**/.nuget
.git
.gitignore
.vs
.vscode
.DS_Store
README.md
LICENSE
.env
